---
title: The BaseCS Project
---

<h1>
  The BaseCS Project
</h1>

<iframe width="560" height="315" src="https://www.youtube.com/embed/Po1nQOBBig0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>


<footer class="footer">
  <p>Made with 💛 by <a href="https://www.twitter.com/vaidehijoshi">Vaidehi Joshi</a></p>
</footer>
